@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font:'Manrope', sans-serif;
    --fontSize:13px;
    --medium:500;
    --bold:700;
    --veryDarkBlue: hsl(217, 19%, 35%);
    --Desaturated:hsl(214, 17%, 51%);
    --lightBlue:hsl(210, 46%, 95%);
    --grayishBlue: hsl(212, 23%, 69%);
    
}

body {
    font-family: var(--font);
    font-size: var(--fontSize);
    background-color: var(--lightBlue);
    margin: 20rem 0; 
}

/* Container */
.container {
    display: flex;
    gap: 3rem;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    height: 280px;
    max-width: 900px;
    overflow: hidden;
}

/* Left image  */
.col-img img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Description text */
.col-info .wrapper-desc p:nth-child(1) {
    font-size: 1.3rem;
    color: var(--veryDarkBlue);
    font-weight: bold;
    max-width: 400px;
    margin-top: 30px;
}
.col-info .wrapper-desc p:nth-child(2) {
    font-size: 13px;
    color: var(--grayishBlue);
    font-weight: bold;
    max-width: 400px;
    margin-top: 14px;
}

/* Author section */
.wrapper-author {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.wrapper-author img {
    border-radius: 100%;
    vertical-align: middle;
}
